@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway:400,900|Roboto+Mono");
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900; }

p,
li {
  font-family: "Roboto Mono", monospace;
  font-weight: 400; }

pre code {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  letter-spacing: 1px; }

.container {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column; }

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0; }

@media (min-width: 992px) {
  .container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr; } }

.main-header {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); }
  .main-header h1 {
    font-size: 2em;
    margin: 0;
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 0.3em; }

.docs-nav {
  margin-bottom: 5em; }

.unstyled-list {
  position: sticky;
  max-height: 300px;
  top: 30px;
  overflow-x: hidden;
  overflow-y: auto; }

.nav-link {
  border-left: 2px solid #ccc; }

.nav-link {
  display: inline-block;
  color: #444;
  text-decoration: none;
  padding: 0.5em 1em; }

.nav-link:hover,
.nav-link:focus {
  color: white;
  background: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  border: none;
  transform: scale(1.1);
  transition: transform ease-in-out 250ms; }
  .nav-link:hover::before,
  .nav-link:focus::before {
    content: "{";
    margin-right: 5px; }
  .nav-link:hover::after,
  .nav-link:focus::after {
    content: "}";
    margin-left: 5px; }

@media (min-width: 992px) {
  .docs-nav {
    height: max-content;
    margin-right: 1em; }
  .unstyled-list {
    max-height: initial;
    top: 40px;
    overflow-x: hidden;
    overflow-y: auto; } }

#main-doc {
  display: grid;
  grid-gap: 2em; }

.main-section article {
  margin-left: 0; }
  .main-section article li {
    margin-left: 0.5em; }

@media (min-width: 768px) {
  .main-section article {
    margin-left: 2em; }
    .main-section article li {
      margin-left: 1.5em; } }
