#main-doc {
  display: grid;
  grid-gap: 2em;
}

.main-section {
  article {
    margin-left: 0;

    li {
      margin-left: 0.5em;
    }
  }
}

@media (min-width: 768px) {
  .main-section {
    article {
      margin-left: 2em;

      li {
        margin-left: 1.5em;
      }
    }
  }
}
