.docs-nav {
  // height: 300px;
  margin-bottom: 5em;
}
.unstyled-list {
  position: sticky;
  max-height: 300px;
  top: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link {
  border-left: 2px solid #ccc;
}

.nav-link {
  display: inline-block;
  color: $link-color;
  text-decoration: none;
  padding: 0.5em 1em;
}

.nav-link:hover,
.nav-link:focus {
  color: $white;
  background: $secondary-gradient;
  border: none;
  transform: scale(1.1);
  transition: transform ease-in-out 250ms;

  &::before {
    content: "{";
    margin-right: 5px;
  }

  &::after {
    content: "}";
    margin-left: 5px;
  }
}

@media (min-width: 992px) {
  .docs-nav {
    height: max-content;
    margin-right: 1em;
  }

  .unstyled-list {
    max-height: initial;
    top: 40px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
